@{
    ViewBag.Title = "Home Page";
           
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#user_quotes').cycle({
            // fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
            fx: 'fade',
            speed: 900,
            timeout: 400,
            pause: 1,
            pauseOnPagerHover: 0
        });
    });
</script>
<div class="span-7 colborder">
    <h6>
        Here's a box</h6>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip.</p>
</div>
<div class="span-8 colborder">
    <h6>
        And another box</h6>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat laboris nisi
        ut aliquip.</p>
</div>
<div class="span-7 last">
    <h6>
        This box is aligned with the sidebar</h6>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip.</p>
</div>
<hr>
<hr class="space">
<!--Content--->
<div class="span-15 prepend-1 colborder">
    <p>
        <p>
            <h4>
                This Page is the Blueprint CSS sample page <a href="http://blueprintcss.org/tests/parts/sample.html">
                    http://blueprintcss.org/tests/parts/sample.html </a>
            </h4>
        </p>
        <p>
            <img src="/Public/images/test.jpg" class="top pull-1 left" alt="test">My ongoing
            work to create a full feature ASP.NET MVC framework the JQuery Grid.This is my attempt
            to give something back to the developer community for all the help I have received...
            everything is freely available under the BSD source license, which is documented
            in the read me. Please let me know if you find a use for framework in your app.
            Fork it and improve so that the community has a full feature MVC JGrid in one place.
        </p>
        <ol>
            <li>Uses the  <a href="http://www.trirand.com/jqgridwiki/doku.php">Open Source JQ Grid</a></li>
            <li>This framework uses <a href="https://github.com/robconery/massive">Massive</a> for
                database interaction.</li>
            <li>Has built in Search, CRUD, Comboboxes ... with REST.</li>
            <li>backup of sample database is in \sql folder. Restore it in Sql Server</li>
            <li>Has multiple themes for the Grid. In shared\_layout.cshtml change the tag : @Assets.jgrid("start")
                to any of these:dot-luv, humanity, redmond,start,ui-darkness,ui-lightness,blitzer,
                dark-hive,eggplant,le-frog, mint-choc,south-street,trontastic </li>
            <li>Hooked up to the <a href="http://blueprintcss.org/tests/parts/sample.html">Blueprint
                CSS System</a></li>
        </ol>
    </p>
    <p>
        <h3>
            <a href="http://harshbhasin.com">Harsh Bhasin</a></h3>
    </p>
    <hr />
    <p>
        Nullam mattis, odio ut tempus facilisis, metus nisl facilisis metus, auctor consectetuer
        felis ligula nec mauris. Vestibulum odio erat, fermentum at, commodo vitae, ultrices
        et, urna. Mauris vulputate, mi pulvinar sagittis condimentum, sem nulla aliquam
        velit, sed imperdiet mi purus eu magna. Nulla varius metus ut eros. Aenean aliquet
        magna eget orci. Class aptent taciti sociosqu ad litora.</p>
    <p>
        Vivamus euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Suspendisse vel nibh ut turpis dictum sagittis. Aliquam vel velit
        a elit auctor sollicitudin. Nam vel dui vel neque lacinia pretium. Quisque nunc
        erat, venenatis id, volutpat ut, scelerisque sed, diam. Mauris ante. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Donec mattis. Morbi dignissim sollicitudin libero. Nulla lorem.</p>
    <blockquote>
        <p>
            Integer cursus ornare mauris. Praesent nisl arcu, imperdiet eu, ornare id, scelerisque
            ut, nunc. Praesent sagittis erat sed velit tempus imperdiet. Ut tristique, ante
            in interdum hendrerit, erat enim faucibus felis, quis rutrum mauris lorem quis sem.
            Vestibulum ligula nisi, mattis nec, posuere et, blandit eu, ligula. Nam suscipit
            placerat odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos hymenaeos. Pellentesque tortor libero, venenatis vitae, rhoncus eu,
            placerat ut, mi. Nulla nulla.</p>
    </blockquote>
    <p>
        Maecenas vel metus quis magna pharetra fermentum. <em>Integer sit amet tortor</em>.
        Maecenas porttitor, pede sed gravida auctor, nulla augue aliquet elit, at pretium
        urna orci ut metus. Aliquam in dolor. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae; Sed aliquam, tellus id ornare posuere,
        quam nunc accumsan turpis, at convallis tellus orci et nisl. Phasellus congue neque
        a lorem.</p>
    <hr>
    <div class="span-7 colborder">
        <h6>
            This is a nested column</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.</p>
    </div>
    <div class="span-7 last">
        <h6>
            This is another nested column</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.</p>
    </div>
</div>
<!--sidebar--->
<div class="span-7 last">
    <div class="success">
        <h4>
            Project Highlights</h4>
    </div>
    <div id="user_quotes">
        @foreach (dynamic item in MI.Web.Model.Quotes.FromUsers())
        { @Quotes.User(item);
        }
    </div>
</div>
