

<h2>Custom Bindings</h2>



<h3 data-bind="text: question"></h3>
<p>Please distribute <b data-bind="text: pointsBudget"></b> points between the following options.</p>

<table>
    <thead><tr><th>Option</th><th>Importance</th></tr></thead>
    <tbody data-bind="foreach: answers">
        <tr>
            <td data-bind="text: answerText"></td>
            <td><select data-bind="options: [1,2,3,4,5], value: points"></select></td>
        </tr>    
    </tbody>
</table>

<h3 data-bind="visible: pointsUsed() > pointsBudget">You've used too many points! Please remove some.</h3>
<p>You've got <b data-bind="text: pointsBudget - pointsUsed()"></b> points left to use.</p>
<button data-bind="enable: pointsUsed() <= pointsBudget, click: save">Finished</button>

<script type="text/JavaScript">

    function Answer(text) {
        this.answerText = text; 
        //each point has a value of 1
        this.points = ko.observable(1);
     }

    function SurveyViewModel(question, pointsBudget, answers) {
        
        this.question = question;
        this.pointsBudget = pointsBudget;

        //The $.map() method applies a function to each item in an array or object and maps the results into a new array.
       //answers after conversion is a array of Answer: each Answer has 2 properties: answerText & points.
        this.answers = $.map(answers, function (text) {
            return new Answer(text) 
         });
        
        this.save = function () {
            alert('To do')
         };

        this.pointsUsed = ko.computed(function () {
            var total = 0;
            for (var i = 0; i < this.answers.length; i++)
                total += this.answers[i].points();
            return total;
        }, this);
    }

    ko.applyBindings(new SurveyViewModel
    (
        "Which factors affect your technology choices?",
        10,
         [
           "Functionality, compatibility, pricing - all that boring stuff",
           "How often it is mentioned on Hacker News",
           "Number of gradients/dropshadows on project homepage",
           "Totally believable testimonials on project homepage"
         ]
    )); 
    
</script> 